@model MVC.Models.Ferramentum

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<div class="container-fluid position-fixed">
    <div class="row flex-nowrap">
        @Html.Partial("_SidebarComponent")

        <div class="col-6 py-3 container-fluid" style="max-height: 100vh; overflow:auto;">
            <div class="col py-3 table-bg">
                <h3>Detalhes</h3>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marca)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marca)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FuncionarioCadastroFuncionalNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FuncionarioCadastroFuncionalNavigation.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Situacao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Situacao.Nome)
                    </dd>


                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tipo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tipo.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Quantidade)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Quantidade)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ValorDiaria)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ValorDiaria)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ValorCompra)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ValorCompra)
                    </dd>

                </dl>
                <a class="btn btn-custom-secondary" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>

</div>

<div>


    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>

</div>
