@model IEnumerable<MVC.Models.Ferramentum>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Equipamentos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar novo Equiapemento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>

           
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioCadastroFuncionalNavigation)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Situacao.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Tipo.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ValorDiaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCompra)
            </th>
            

            

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioCadastroFuncionalNavigation.Nome)
            </td>
                <td>
                    @(item.IsDisponivel() ? "Disponível" : "Indisponível")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Nome)
            </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.ValorDiaria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorCompra)
                </td>

                
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id, item.Codigo/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id, item.Codigo/* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id, item.Codigo/* id=item.PrimaryKey */ })


            </td>
        </tr>
}
    </tbody>
</table>

 
