@model IEnumerable<MVC.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Gerenciar Funcionários</h1>

<p>
    <a asp-action="Create">Criar novo Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permissao)
            </th>

            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permissao.Id)
                    <script>

                        var PermissaoId = @item.Permissao.Id; 

                        if (PermissaoId === 1) {
                            papel = "admin"; 
                        } else if (PermissaoId === 2) {
                            papel = "user"; 
                        } 

                        

                    </script>

                </td>
                <td>
                      
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, cpf = item.Cpf, funcional = item.Funcional }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id, cpf = item.Cpf, funcional = item.Funcional }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, cpf = item.Cpf, funcional = item.Funcional })
                </td>
            </tr>
        }
    </tbody>
</table>
