@model MVC.Models.Orcamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orcamento</h4>
    <hr />
    <dl class="row">
        <h6>Número do Orçamento @Html.DisplayFor(Orcamento => Orcamento.Id)</h6>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOrcamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOrcamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataValidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteCpfNavigation.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteCpfNavigation.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FerramentaCodigoNavigation.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FerramentaCodigoNavigation.Descricao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
