@model IEnumerable<MVC.Models.Orcamento>

@{
    ViewData["Title"] = "Index";
        
}

<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<div class="container-fluid position-fixed">
    <div class="row flex-nowrap">
        @Html.Partial("_SidebarComponent")

        <div class="col py-3">
            <div class="d-flex flex-column table-bg align-items-end gap-5">                
                    <a class="btn btn-custom-primary" asp-action="Create">Criar novo</a>                
                <table class="table">
                    <thead class="bg-yellow">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ValorTotal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataOrcamento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataValidade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClienteCpfNavigation)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.FerramentaCodigoNavigation)
                            </th>
                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataOrcamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataValidade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClienteCpfNavigation.Cpf)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FerramentaCodigoNavigation.Descricao)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new {  id =item.Id, ClienteCpf = item.ClienteCpfNavigation.Cpf,fcod = item.FerramentaCodigoNavigation.Codigo }) |
                                    @Html.ActionLink("Details", "Details", new {  id =item.Id, ClienteCpf = item.ClienteCpfNavigation.Cpf,fcod = item.FerramentaCodigoNavigation.Codigo  }) |
                                    @Html.ActionLink("Delete", "Delete", new {  id =item.Id, ClienteCpf = item.ClienteCpfNavigation.Cpf,fcod = item.FerramentaCodigoNavigation.Codigo  })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
           
        </div>


</div>
</div>
