@model IEnumerable<MVC.Models.Orcamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOrcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataValidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteCpfNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FerramentaCodigoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOrcamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataValidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteCpfNavigation.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FerramentaCodigoNavigation.Codigo)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id =item.Id, cliente_cpf = item.ClienteCpfNavigation.Cpf, ferramenta_codigo = item.FerramentaCodigoNavigation.Codigo  }) |
                    @Html.ActionLink("Details", "Details", new {  id =item.Id, cliente_cpf = item.ClienteCpf, ferramenta_codigo = item.FerramentaCodigo }) |
                    @Html.ActionLink("Delete", "Delete", new {  id =item.Id, cliente_cpf = item.ClienteCpf, ferramenta_codigo = item.FerramentaCodigo })
            </td>
        </tr>
}
    </tbody>
</table>
