@model IEnumerable<MVC.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />


@section scripts {
    <script src="~/js/funcionarios.js" type="module"></script>
}

<div class="container-fluid position-fixed">
    <div class="row flex-nowrap">
        @Html.Partial("_SidebarComponent")
        
        <div class="col py-3" style="max-height: 100vh; overflow:auto;">
            <h3 class="table-bg text-center">Visualização de Funcionários</h3>
            <div class="d-flex flex-column table-bg align-items-end gap-5">

                <div class="d-flex w-100 gap-3 search-bar">
                    <input id="search" placeholder="Pesquisar" class="rounded-2 border-0"/>

                    <button class="btn btn-custom-primary" >
                        <a asp-action="Create">Adicionar novo</a>
                    </button>
                </div>

                <table class="table">
                    <thead class="bg-yellow">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Permissao)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody id="employee-table-body">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Permissao.Nome)
                                </td>

                                <td class="table-actions d-flex gap-2">
                                    <a href="@Url.Action("Edit", new { id = item.Id, cpf = item.Cpf, funcional = item.Funcional })" title="Editar">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>

                                    <a href="@Url.Action("Details", new { id = item.Id, cpf = item.Cpf, funcional = item.Funcional })" title="Detalhes">
                                        <i class="bi bi-info-circle"></i>
                                    </a>

                                    <a href="@Url.Action("Delete", new { id = item.Id, cpf = item.Cpf, funcional = item.Funcional })" title="Deletar">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

