@model IEnumerable<MVC.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/funcionarios.css" asp-append-version="true" />

<div class="container-fluid position-fixed">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-custom-dark-grey">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <div class="bg-custom-dark-grey">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <img src="~/assets/img/alugueltechlogo2.svg" class="fs-5 d-none d-sm-inline max-width-200"></img>
                    </a>
                </div>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start sidebar-ul" id="menu">
                    <li class="nav-item">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person-circle"></i> <span class="ms-1 d-none d-sm-inline">Clientes</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 bi-person-add"> <span class="d-none d-sm-inline">Novo Cliente</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 bi-person-vcard-fill"> <span class="d-none d-sm-inline">Ver Clientes</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-basket3-fill"></i> <span class="ms-1 d-none d-sm-inline">Alugar</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 bi-file-earmark-plus"> <span class="d-none d-sm-inline">Novo Orçamento</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 bi-file-text"> <span class="d-none d-sm-inline">Ver Orçamentos</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 bi-bag-check"> <span class="d-none d-sm-inline">Ver Aluguéis</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Relatórios</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 bi-currency-dollar"> <span class="d-none d-sm-inline">Faturamento Mensal</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 bi-person-video2"> <span class="d-none d-sm-inline">Histórico de Clientes</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 bi-basket"> <span class="d-none d-sm-inline">Controle de Estoque</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-tools"></i> <span class="ms-1 d-none d-sm-inline">Equipamentos</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 bi-wrench-adjustable-circle"> <span class="d-none d-sm-inline">Novo Equipamento</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 bi-gear"> <span class="d-none d-sm-inline">Lista de Equipamentos</span></a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/assets/icons/person-fill.svg" alt="hugenerd" width="20" height="20" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1"> @User.Identity.Name </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">

                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="dropdown-item sidebar-ul">
                                    <a class="nav-link" asp-area="" asp-controller="Funcionarios" asp-action="Index">Gerenciar Funcionários</a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            }

                        }
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                            <li class="nav-item sidebar-ul">
                                <a class="nav-link" asp-area="" asp-controller="Funcionarios" asp-action="Logout">Sair</a>
                            </li>
                            }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="col py-3">
        <div class="d-flex flex-column table-bg align-items-end gap-5">
            <button class="btn btn-custom-primary">
                <a asp-action="Create">Adicionar novo</a>
            </button>
            <table class="table">
                <thead class="bg-yellow">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Permissao)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Permissao.Nome)
                            </td>
                            
                            <td class="table-actions d-flex gap-2">
                                    <a href="@Url.Action("Edit", new { id = item.Id, cpf = item.Cpf, funcional = item.Funcional })">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>

                                    <a href="@Url.Action("Details", new { id = item.Id, cpf = item.Cpf, funcional = item.Funcional })">
                                        <i class="bi bi-info-circle"></i>
                                    </a>

                                    <a href="@Url.Action("Delete", new { id = item.Id, cpf = item.Cpf, funcional = item.Funcional })">
                                        <i class="bi bi-trash"></i>
                                    </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
           </div>
        </div>
