@model MVC.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<div class="container-fluid position-fixed">
    <div class="row flex-nowrap">
        @Html.Partial("_SidebarComponent")

        <div class="col-6 py-3 container-fluid" style="max-height: 100vh; overflow:auto;">
            <div class="col py-3 table-bg">

                <h3>Detalhes</h3>
                <dl class="d-flex flex-column gap-2">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Sexo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Sexo)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataNascimento)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefone)
                    </dd>

                    @*
                    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.tipoPessoa)
                    </dt>
                    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.tipoPessoa)
                    </dd>
                    *@
                    
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Endereco)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Endereco.Logradouro), @Html.DisplayFor(model => model.Endereco.Numero), @Html.DisplayFor(model => model.Endereco.Bairro), @Html.DisplayFor(model => model.Endereco.Cidade) - @Html.DisplayFor(model => model.Endereco.Estado)
                    </dd>
                </dl>
                <a class="btn btn-custom-secondary" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Voltar</a>
</div>*@
